* {
	box-sizing: border-box;
}
body {
	  text-align:center
	}

.intro {
	text-align: center;
}


.board {
    width: 22.5em;
    height: 22.5em;
    border-spacing:0;
    margin-left:auto; 
    margin-right:auto;
}



.square {
    text-align: center;
    font-family: 'Coming Soon', cursive;
    font-size: 4em;
    text-transform: uppercase;
    height: 2em;
    width: 2em;
    border-collapse: collapse;
    color: black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.square:last-child {
    border-right: none;
}

.row:last-child .square {
    border-bottom: none;
}

tr.strikeout .square:before {
  content: "";
  position: absolute;
  border: 1px solid #111;
  width: 19%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6.5%;
}

