* {
	box-sizing: border-box;
}
body {
	  text-align:center
	}

.top, .bottom, .left, .right {
  background: black;
  position: fixed;
}

.left, .right {
  top: 0; 
  bottom: 0;
  width: 1em;
}
.left { 
  left: 0; 
}

.right { 
  right: 0; 
}

.top, .bottom {
  left: 0; 
  right: 0;
  height: 1em;
}

.top { 
  top: 0; 
}
.bottom { 
  bottom: 0; 
}

h1 {
    padding-top: 1.5em;
}

.intro {
	text-align: center;
    font-family: 'Crafty Girls', cursive;
}

.message {
    padding-bottom: 2.5em;
    padding-top: .5em;
    font-size: 1.2em;
}

.board {
    border-spacing:0;
    margin-left:auto; 
    margin-right:auto;
}



.square {
    text-align: center;
    font-family: 'Coming Soon', cursive;
    font-size: 4em;
    text-transform: uppercase;
    height: 2em;
    width: 2em;
    border-collapse: collapse;
    color: black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

.square:last-child {
    border-right: none;
}

.row:last-child .square {
    border-bottom: none;
}

.strikeout .square:before {
    content: " ";
    position: absolute;
    border: 1px solid #111;
    width: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.65em;
}

.strikeout1:after {
    content: " ";
    position: absolute;
    border: 1px solid #111;
    height: 100%;
    left: 50%; 
 
}

.diag1Strikeout:after {
    content: " ";
    position: absolute;
    border: 1px solid #111;
    transform: rotate(-45deg) translateX(51px) translateY(-8px);
    height: 142%;
    left: 25%;
}

.diag2Strikeout:after {
    content: " ";
    position: absolute;
    border: 1px solid #111;
    transform: rotate(45deg) translateX(-9px) translateY(-52px);
    height: 142%;
    left: 25%;
}


button {
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: 'Crafty Girls', cursive;
    font-size: 1em;
    border-radius: 3px;
    border: none;
    padding: .3em;
    background-color: lightgray;

}

button:active {
    background-color: black;
    color: white;

}

button:focus {
    outline:none;
}

